{{page-title "TruHiker"}}

<div class="">
  <nav class="border-b p-4 flex">
    <LinkTo @route="gear-lists" class="mr-4">
      Gear Lists
    </LinkTo>
    <LinkTo @route="gear-items">
      Gear Items
    </LinkTo>
  </nav>

  <main class="bg-white container">
    {{outlet}}
  </main>
</div>
